<!-- add this when navbar should be present-->
<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

<section data-ng-controller="EventsController as eventsCtrl" data-ng-init="findOne()">
    <div class="page-header" align="center">
        <h3>{{event.title}} - New Description Details</h3>
    </div>
    <div class="col-md-12">
        <form name="newDescriptionForm" class="form-horizontal" data-ng-submit="addEventDetail()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="event.descriptionDetails.title" id="title" class="form-control" placeholder="Event Description Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <text-angular data-ng-model="event.descriptionDetails.description" id="description"
                                cols="30" rows="10" placeholder="Description"
                                ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5'], ['bold', 'italics', 'underline', 'strikeThrough'],
                                ['p', 'pre', 'quote', 'ul', 'ol', 'clear', 'indent', 'outdent'], ['justifyLeft', 'justifyRight', 'justifyFull', 'justifyCenter']]">
                        </text-angular>

                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-default" data-ui-sref="events.view({eventId: event._id})">Cancel</button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
